body {
    background-color: darkblue;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    flex: 1;
    font-size: 72px;
    color: white;
    align-items: center;
    justify-content: center;
}

.center {
    display: flex;
    flex: 3;
    flex-direction: column;
    justify-content: start;
    gap: 24px;

}

.round-number { 
    font-size: 48px;
    color: white;
    text-align: center;
}

.scoreboard {
    font-size: 48px;
    color: white;
    text-align: center;
}

.weapons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

div {
    /* border: 1px solid white; */
}

.weapon {
    background-color: red;
    height: 300px;
    width: 300px;
    border-radius: 24px;
    font-size: 32px;
}

.forecast {
    color: white;
    justify-content: center;
    display: flex;
    
    font-size: 24px;
}